/* Estilo general */
*{
 padding: 0%;
 margin: 0%;
 font-size: 16px;
/* font-family: 'Ysabeau', sans-serif; */
}
/* Grid para el maquetado principal */
body {
    display: grid;
    min-height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px,auto,auto,1fr;
    grid-gap: 5px;
}
h1 {display:none;}

/* Encabezado Flex*/
.header {
    font-family: 'Rock Salt', cursive;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    grid-column: 1/-1;
    background-color: black;
    grid-row: 1/2;
    padding-left: 1em;
}
/* Fuente Logo encabezado */
 .header p{
    font-family: 'Rock Salt', cursive;
    color: white;
    align-self: center;
}

/* Links Encabezado */
header p a {font-family: 'Rock Salt', cursive;
    color: white;
    align-self: center;
    font-size: 1em;
    text-decoration: none;
}

/* Clase Logo */
.blank {
    justify-content: flex-end;
    display: inline-flex;
    width:100em;
}

.blank p {
    font-size: 1.5em;
}

/* Menu normal */
.nav {
    width: 100%;
    justify-self: right;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    align-items: center;
}

/* Contenedor Menu */
.nav div {
    display: none;
    padding: 0.5 em;
    margin: 0.5em;
}

/* Links Contenedor */
.nav div a {
    color: white;
    text-decoration: none;
}

/* Menu Hamb */
/* Contenedor */
.dropdown1 {
    justify-self: flex-start;
    margin: 0.5;
    padding: 0;
    font-size: 2em;
    display: inline-block;
    position: relative;
    z-index: 3;
  }

/* Boton con imagen */
  #boton1 {
    margin-top: 0;
    padding: 0.5em;
    font-size: 0.5em;
    background-color:white;
    border-radius: 5px;
    width: 1em;
  }

  /* Contenedor Lista Desplegable */
.dropdown-content1 {

    display: none;
    position: absolute;
    width: 600%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba( 0,0,0,1);
  }

/* Accion Mostrar Menu */
.dropdown1:hover .dropdown-content1 {
    display: block;
}
/* Lista Desplegable */
.dropdown-content1 a {
    display: block;
    background-color: grey;
    color: #000000;
    padding: 5px;
    border:2px black solid;
    text-decoration: none;
}

/* Accion Cambiar Color */
.dropdown-content1 a:hover {
    color: white;

}

/* Propagandas */
/* Contenedor  */
.aside {
    grid-column: 1/-1;
    grid-row: 2/3;
}

/* No mostrar Imagenes Fijas */
.aside .propaganda {display:none;}

/* Carrusel */
/* Contenedor con animaciones */
#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 150px;
    width: 400%;
}
/* Contenedores Imagenes */
#carrusel-contenido {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}

.imagenes{
    height: 180px;
    width: 100%;
}
/* Cada imagen */
.carrusel-elemento {
    float: left;
    width: 25%;
}

/* Transiciones */

@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    99% {
        margin-left: -300%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    99% {
        margin-left: -300%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    99% {
        margin-left: -300%;
    }
    100% {
        margin-left: 0;
    }
}

/* Contenedor Principal  */
.main {
    font-family: 'Rock Salt', cursive;
    grid-column: 1/-1;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;

}

/* Contenedor Secundario */
.section {
    margin-top: 1em;
    width: 100%;
}

.section img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.section p{
    color: black;
    text-align: center;
}


/* Contenedor Textos */
.article {
    width:100%;
}
.article p {
    font-size: 1em;
    text-align: left;
    margin-bottom: 0.5em;
}

/* Texto Destacado */
.article .literal {

    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    background-color: rgb(172, 169, 169);
}

/* Contendor Principal Paginas de Bandas */
.mainBanda {
    
    margin-left: 10px;
    width: 100%;
    grid-column: 1/12;
    grid-row: 3/4;
    display: flex;
    flex-direction: column; 
    
}

/* Contenedor Secundario Bandas */
.section1 {
    width:100%;
    margin-top: 1em;
}

/* Imagenes */
.section1 img {
    width: 100%;
    position: relative;
    left: 0;
}
/* Ifame */
.section1 iframe { width: 100%;
    height: 300px;
}

/* Textos */
.section1 p{
    color: black;
    text-align: left;
}
/* Listas */
.section1 ul  {
    list-style: none;
    margin-top: 0.5em;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
}
.section1 ul li {
    margin-top: 0.5em;
    font-size: 0.9em;
    font-weight: normal;
}
/* Links Lista */
.section1 ul li a{
    text-decoration: none;
    color:blue;
}

/* Pie de pagina */
/* Conenedor */
.footer{
    
    display: flex;
    grid-column: 1/-1;
    grid-row: 4/5;
    background-color: #000000;
    color: white;
    font-family:'Times New Roman', Times, serif;
    
}
/* Lista Menu*/
.footer li {text-decoration: none;}

/* Links Menu */
.footer .footernav a {
   
    margin-bottom: 15px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
}

/* Iconos Contacto */
.footer .ico {
    font-family: 'Rock Salt', cursive;
    align-self: center;
    text-align: center;
    width: 100%;

}
.footer .ico p {
    margin-left: 10px;
    font-size: 0.8em;}

/* Contenedores Secundarios */
.footernav div a {
    font-family: 'Rock Salt', cursive;
    font-size:0.5em;
    margin: 10px;
    padding: 0.5px;
}


/* Formulario: start */
.mainsuscripcion {

    grid-column: 1/-1;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    


}
#suscripcion legend{
    font-family: 'Ysabeau', sans-serif;
}
form{

    font-family: 'Ysabeau', sans-serif;
    
    /* background-image:url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; */

}


      label {
        display: block;
        margin-bottom: 5px;
        margin-left: 40px;
      }

      input[type="text"], input[type="email"], input[type="date"],input[type="password"], textarea {
        margin-left: 40px;
        width: 60%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #cccccc9e;
        background-color: #efebeb;
      }
      input[type="submit"], button[type="reset"] {

        background-color: #122e27;
        color: #fff;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 10px 10px;
      }

/* Formulario: end */


/* Style Contacto */
/* Contenedor Principal Contactos */
.mainContacto {
    width: 100%;
    min-height: 500px;
    grid-column: 1/12;
    grid-row: 2/4;
    display: flex;
    flex-direction: column; 
    font-size: 1.5em;
}
#textoContacto h2 {
    font-family: 'Ysabeau', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 15px;
}
#textoContacto p {
    font-family: 'Ysabeau', sans-serif;
    margin: 10px;
    text-align:left;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 40px;

}

.contactos {
    font-family: 'Ysabeau', sans-serif;
    display: block;
    margin-left: 20px;
    margin-top: 8px;
}

.icono {
    margin-left: 10px;
    vertical-align: 35%;
}



/* Media para pantallas mayores a 415px */

@media screen and (min-width:415px){
    
    /* Esconder Carrusel */
    #carrusel-caja {
        display:none;
    }
    /* Ensanchas contenedor de logo */
    .blank { width:100em}

    /* Ubicar Aside al Costado */
    .aside {
        
        grid-column: 1/3;
        grid-row: 2/4;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: none;
        border-right: black solid 1px;

    }

    /* Mover Main a la Derecha */
    .main {
        grid-column: 3/-1;
        grid-row: 2/4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat (2, auto);
    }
    .mainBanda {
        grid-column: 4/-1;
        grid-row: 2/4;
        display:flex;
        justify-self: center;
        margin: 0;
    }
    .mainContacto {
        grid-column: 1/-1;
        grid-row: 2/4;
        display:flex;
        justify-self: center;
        margin: 0;
    }
    .section {
        margin: 20px auto;
        width:90%}
    .section1 { width:100%;}
    .section1 iframe{
        width:100%;
        height: 300px;
    }
    
    /* Esconder Carrusel */
    #carrusel-contenido {display: none;}
    
    /* Mostrar Aside con Propagandas */
    .aside .propaganda {display: block;}
    
    .aside .propaganda img {
        width:100%;
        height: 160px;
        margin:0 auto;
    }
    .footer .ico p {
        margin-left: 10px;
        font-size: 1.5em;}
    
    /* Contenedores Secundarios */
    .footernav div a {
        font-family: 'Rock Salt', cursive;
        font-size:1em;
        margin: 10px;
        padding: 0.5px;
    }
    

}

/* Media para pantallas mayores a 615px */
@media screen and (min-width:615px){
    .header {height: 70px;}
    .nav div{ display: inline;}
    .dropdown1 {display:none;}
    .blank { width:20em}
    .aside {
        grid-column: 1/3;
        grid-row: 2/4;
    }
    .main {
        grid-column: 3/-1;
        grid-row: 2/4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat (2, auto);
    }

    .main1 {
        grid-column: 4/-1;
        grid-row: 2/4;
        display:flex;
        justify-self: center;
    }
    .main2 {
        grid-column: 1/-1;
        grid-row: 2/4;
        display:flex;
        justify-self: center;
        margin: 0;
        height: 778px;
    }
    .section1 {
        width: 100%;
        margin: 0 auto}
    .section1 div {
        width:70%;
        margin: 0 auto;
        margin-bottom: 10px;}
    .section1 iframe{
        width:70%;
        height: 300px;
        
    }
    .article p {
        margin: 0.5em;
        text-align: left;}

    /* Animacion Imagenes Menu Principal */

    #animada{
        position: relative;
            animation-name: mover-imagen;
            animation-duration: 5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }

        @keyframes mover-imagen {
            0% {
                left: 0;
            }

            100% {
                left: calc(100% - 200px);
            }

      }
      .section img:hover {
        transform: scale(1.1);}

}

