/* *{  font-size: 20px;
    max-width: 100%;} */

.header{height: 100px;
}

.general {
    width: 100%;
    min-height: 400px;
    font-family: 'Rock Salt', cursive;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.apiH2 {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}
.apiImagen {
    background-color: rgb(40, 248, 120);
    border-bottom: black 3px solid;
    width: 300px;}
.apiCarta {
    background-color: rgb(40, 248, 120);
    margin-top: 10px;
    border-radius: 10px;
    width: fit-content;
    border: black 3px solid;  
}
.apiTexto {
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
    display: inline;
    font-size: 2em;
}
.apiContenedor {
    margin: 20px;
    display: flex;
    width: fit-content;
   }
.apiLabel {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bolder;
}
 .explicacion {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
.apiFormulario {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-image: none;
}

.explicacion{text-align: center;}

.ul { font-weight: bolder;}

.li {margin-top: 5px;
    margin-left: 100px;
    
    font-display: none;
    font-weight: normal;
    list-style: none;
}
.apiSelect {
    margin-left: 10px;
    display: inline;
    width:fit-content;
    font-size: 2em;
}
.boton {
    margin-left: 40px;
    background-color: rgb(8, 252, 81);
    display: inline;
    font-size: 1.5em;
    width: fit-content;
}

@media screen and (max-width:415px) {
    *{font-size: 20px;}
    .apiSelect {width: 65%;}
    .apiContenedor{
        display: flex;
        flex-direction: column;
        max-width: 100%;}
    .apiImagen{width: 100%}
    .apiCarta{width:100%}
}
@media screen and (max-width:750px){
    *{font-size:10px;}
    .apiCarta{width:65%}
    .apiImagen{max-width:250px;
        width:100%;
        
    }
    
}